[Unit]
Description=AWS Reverse Tunnel
ConditionPathExists=|/usr/bin

[Service]
user=<username at localhost>
ExecStart=/usr/bin/ssh -NTC -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -o StrictHostKeyChecking=no -i "<link to pem file>" -R 10002:localhost:8069 ubuntu@<aws public ip> 
